@page "/"
@inject CloudLoginServerClient cloudLogin
@inject NavigationManager nav

<div class="main">
    <div class="information-container">
        <div class="information-first">
            <h1>Cloud Login</h1>
            <h2>A Blazor Project to add a login system to your websites</h2>
            <ul>
                <li>
                    is a login system designed for .NET projects.
                </li>
                <li>
                    supports popular social media platforms such as Google, Microsoft, Facebook, Twitter, and WhatsApp for user authentication.
                </li>
                <li>
                    is built using Blazor technology, which can be used with both webAssembly hosted and Blazor server.
                </li>
                <li>
                    offers a simple and secure way for users to log in to your website.
                </li>
                <li>
                    can be used to create a centralized login system for multiple websites.
                </li>
                <li>
                    helps users to access their accounts with the provider of their choice, providing a more personalized experience.
                </li>
            </ul>
        </div>
    </div>

    <div class="main-container">
        @if (!IsAuthorized && CurrentUser == null)
        {
            <AngryMonkey.CloudLogin.CloudLogin Logo="./img/LazyBananaLogo.svg" />
        }
        else
        {
            <div class="user-information">
                <h1>@CurrentUser.DisplayName</h1>
                <h2>is successfully signed in!</h2>
            </div>

            <div class="functions-container">
                <h3>Functions to try:</h3>
                <div class="functions-list-container">
                    <div class="functions-list">
                        <h4>Phone Functions:</h4>
                        <ul>
                            <li><a href="./cloudlogin?domainName=@cloudLogin.RedirectUrl&actionState=AddNumber" class="--button">Add your phone number</a></li>
                            <li><a href="./cloudlogin?domainName=@cloudLogin.RedirectUrl&actionState=AddInput" class="--button">Add Another Input</a></li>
                            <li><a href="./cloudlogin?domainName=@cloudLogin.RedirectUrl&actionState=ChangePrimary" class="--button">Change your primary input</a></li>
                        </ul>
                    </div>
                    <div class="functions-list">
                        <h4>Email Functions:</h4>
                        <ul>
                            <li><a href="./cloudlogin?domainName=@cloudLogin.RedirectUrl&actionState=AddEmail" class="--button">Update your information</a></li>
                            <li><a href="./cloudlogin?domainName=@cloudLogin.RedirectUrl&actionState=AddInput" class="--button">Add Another Input</a></li>
                            <li><a href="./cloudlogin?domainName=@cloudLogin.RedirectUrl&actionState=ChangePrimary" class="--button">Change your primary input</a></li>
                        </ul>
                    </div>
                    <div class="functions-list">
                        <h4>Other Functions:</h4>
                        <ul>
                            <li><a href="./cloudlogin?domainName=@cloudLogin.RedirectUrl&actionState=UpdateInput" class="--button">Update your information</a></li>
                            <li><a href="./cloudlogin?domainName=@cloudLogin.RedirectUrl&actionState=AddInput" class="--button">Add Another Input</a></li>
                            <li><a href="./cloudlogin?domainName=@cloudLogin.RedirectUrl&actionState=ChangePrimary" class="--button">Change your primary input</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="moreinfo-container">
                For more information check the <a href="#">GIT repository for this project</a>.
            </div>
            <div class="logout-container">
                <a href="./cloudlogin/logout" class="logout-button">Logout</a>
            </div>
        }
    </div>
</div>