.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.info > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.info-input {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: stretch;
  justify-content: flex-start;
}
.info-input input {
  padding: 15px 20px;
  outline: none;
  border: 1px solid var(--amc-accentColor);
  border-radius: 5px;
}
.info-input button {
  padding: 10px;
  text-transform: capitalize;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
  background-color: var(--amc-secondColor);
  border: 1px solid var(--amc-secondColor);
  transition: all 0.5s;
  position: relative;
  width: 100%;
}
.info-input button:hover {
  color: var(--amc-secondColor);
  background-color: transparent;
}
.info ul {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.info ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.info ul li span {
  color: var(--amc-accentColor);
  font-size: 1rem;
}
.info ul li > div {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}
.info ul li > div button {
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--amc-secondColor);
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--amc-secondColor);
}
.info ul li > div button:hover {
  background-color: transparent;
  color: var(--amc-secondColor);
}
.info ul li > div button:last-child {
  background-color: var(--amc-accentColor);
  border-color: var(--amc-accentColor);
}
.info ul li > div button:last-child:hover {
  background-color: transparent;
  color: var(--amc-accentColor);
}