@page "/"
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject CloudLoginServerClient cloudLogin
@inject IHttpContextAccessor HttpContextAccessor

<HeadContent>
    <CloudBundle Source="css/index.css" />
</HeadContent>

@if (IsAuthorized == false)
{
    <AngryMonkey.Cloud.Login.CloudLogin Logo="https://thehealthbarme.com/img/logo.svg" />
}
else
{
    <section class="amc-authorized">
        <div>
            <div class="amc-authorized-title">
                <img class="amc-authorized-title-logo" src="./img/logo.svg">
                Angry Monkey Cloud Login
            </div>
            <div class="amc-authorized-info">
                <div class="amc-authorized-info-event">Login is succesful</div>
                <div class="amc-authorized-info-inside">
                    <b>Display Name:</b> @CurrentUser.DisplayName
                </div>
                <div class="amc-authorized-info-inside">
                    <b>ID:</b> @CurrentUser.ID
                </div>

                <div class="amc-authorized-info-inside">
                    <b>Primary input Input:</b> @CurrentUser.Inputs.Where(key => key.IsPrimary == true).FirstOrDefault().Input
                </div>
                <div>
                    <input autocomplete="off" type="text" name="phonenumber" class="--input" placeholder="Phone Number ex. +1234 567 8910" @bind-value="ImportedPhoneNumber" @bind-value:event="oninput" />
                        <button @onclick="ImportNumber" class="--button _primary">Import Twilio number</button>
                </div>

                <div>
                    <a @onclick="CheckUsername" class="--button">Check</a>
                </div>
                <div class="amc-authorized-info-nav">
                    <a href="./cloud
logout" class="--button">Logout</a>
                    <a href="./cloudlogin/logout" @onclick="DeleteButton" class="--button">Delete</a>
                    <a href="./all" class="--button">All</a>
                </div>
            </div>
        </div>
    </section>
}
