@using MauiMobileDemo.Data;
@inject AccountService Account
@page "/account"

<div>
    <br />
    @if (Account.CurrentUser != null)
    {
        <div>
            <ul>
                <li>Display Name: @Account.CurrentUser.DisplayName</li>
                <li>ID: @Account.CurrentUser.ID</li>
                <li>Email: @Account.CurrentUser.PrimaryEmailAddress.Input</li>
            </ul>
            <button @onclick="Logout">Logout</button>
        </div>
    }
    else
    {
        <a href="./Login">Sign-in</a>
    }
</div>

@code {
    private void Logout()
    {
        Account.CurrentUser = null;
        SecureStorage.Remove("Account");
        StateHasChanged();
    }
}