@using MauiMobileDemo.Data;
@inject AccountService Account
@page "/"

<div>
    <span>Welcome Cloud Login MAUI Mobile Application test.</span>
    <br />
    @if (Account.CurrentUser != null)
    {
        <div>
            Hello @Account.CurrentUser.DisplayName, go to 
            <a href="./account">Account</a>
        </div>
    }
    else
    {
        <a href="./Login">Sign-in</a>
    }
</div>