@import (reference) "../../Src/variable.less";

::deep .admin {

    &-select {
        position: relative;
        border: 1px solid @border-strong;
        background-color: @white;
        border-radius: 5px;
        cursor: pointer;
        padding-block: 2px;

        select {
            border: none;
            outline: none;
            font-size: .8rem;
            color: @label;
            background-color: @white;
            padding: 5px 5px;
            padding-right: 20px;
            cursor: pointer;
        }

        svg {
            pointer-events: none;
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
            width: 10px;
            fill: @label;
        }

        &:has(select:focus) {
            border-color: var(--amc-accentColor);

            select {
                outline: none;
            }
        }
    }
}
