@model UserModel?
@{
    ViewData["Title"] = "Home Page";
}

@if (Model == null)
{
    <a href="~/login">Login</a>
}
else
{
    <h1>User Signed In</h1>
    <div>
        Display Name: @Model.DisplayName
        <br />
        First Name: @Model.FirstName
        <br />
        Last Name: @Model.LastName
        <br />
    </div>

    <a href="~/logout">Logout</a>
}
