@namespace AngryMonkey.Cloud.Login
@inject Microsoft.Extensions.DependencyInjection.CloudLoginService cloudLogin
@inject NavigationManager NavigationManager

<div draggable class="amc-cloudlogin">

	@if (Step == ProcessStep.PendingEmail)
	{
		<input type="text" @bind-value="Value" @bind-value:event="oninput" />

		<button @onclick="OnNextClicked">Next</button>
	}

	else if (Step == ProcessStep.PendingProviders)
	{
		<p>retrieving...</p>
	}
	else if (Step == ProcessStep.PendingAuthorization)
	{
		<h2><button @onclick="">back</button> @Value</h2>

		@foreach (Provider provider in Providers)
		{
			@*<a href="@provider.LoginUrl">@provider.Name</a>*@

			<button @onclick="() => OnProviderClicked(provider)">@provider.Name</button>
		}
	}
</div>