/*@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');*/
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/tajawal/v9/Iurf6YBj_oCad4k1l5qjLrY.ttf) format('truetype');
}
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/tajawal/v9/Iura6YBj_oCad4k1rzY.ttf) format('truetype');
}
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/tajawal/v9/Iurf6YBj_oCad4k1l8KiLrY.ttf) format('truetype');
}
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/tajawal/v9/Iurf6YBj_oCad4k1l4qkLrY.ttf) format('truetype');
}
.amc-cloudlogin {
  font-family: 'Tajawal', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.amc-cloudlogin-header {
  text-align: center;
  min-height: 12rem;
}
.amc-cloudlogin-title {
  color: #202124;
  font-size: 2rem;
  transition: all 0.8s;
  padding-bottom: 0;
  position: relative;
}
.amc-cloudlogin-title button {
  position: absolute;
  left: 0;
  height: 0;
  transform: translate(-100%, 50%);
}
.amc-cloudlogin-subtitle {
  font-size: 0.8rem;
  opacity: 0.7;
}
.amc-cloudlogin-body {
  width: 100%;
  max-width: 20rem;
}
.amc-cloudlogin-panel {
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #f5f5f5;
  border-bottom: 1px solid #4569D4;
}
.amc-cloudlogin-inputdisplay {
  font-weight: 700;
}
.amc-cloudlogin-keppsignedin {
  display: flex;
  display: inline-block;
  font-size: 0;
}
.amc-cloudlogin-keppsignedin label,
.amc-cloudlogin-keppsignedin input {
  cursor: pointer;
  user-select: none;
}
.amc-cloudlogin-keppsignedin label {
  padding-left: 6px;
  font-size: 1rem;
}
.amc-cloudlogin-keppsignedin input {
  appearance: checkbox;
  margin: 0;
}
.amc-cloudlogin-footer {
  text-align: center;
}
.amc-cloudlogin-loading {
  position: fixed;
  min-height: 10px;
}
.amc-cloudlogin-loading > div {
  position: relative;
  top: 0px;
  width: 100px;
  height: 5px;
  background-color: #4569D4;
  border-radius: 20px;
  margin: 0 auto;
  animation: move 4s cubic-bezier(0.31, 0.33, 1, 1) infinite;
}
.amc-cloudlogin-loading > div:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 5px;
  border-radius: 20px;
  background-color: #4569D4;
}
.amc-cloudlogin-logo {
  width: 100px;
  margin: 30px auto 5px auto;
}
.amc-cloudlogin-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  min-height: 20rem;
}
.amc-cloudlogin-form-title {
  width: fit-content;
  margin: 0 auto 0 auto;
  transition: all 0.8s;
  line-height: 0;
}
.amc-cloudlogin-form-back {
  min-height: 1rem;
  display: flex;
  gap: 5px;
  align-items: center;
}
.amc-cloudlogin-form-back span {
  font-size: 0.9rem;
}
.amc-cloudlogin-form-notFound {
  flex-direction: column;
}
.amc-cloudlogin-form-notFound h4 {
  font-size: 1rem;
  margin-bottom: 0;
}
.amc-cloudlogin-form-notFound h5 {
  font-size: 0.8rem;
  font-weight: normal;
  margin-top: 0;
}
.amc-cloudlogin-form-Verification {
  margin-top: 10px;
}
.amc-cloudlogin-form-Verification span {
  font-size: 1rem;
}
.amc-cloudlogin-form-resend button {
  border: none;
  background-color: transparent;
  color: #4569D4;
  font-size: 0.8rem;
  transition: all 0.3s;
  cursor: pointer;
}
.amc-cloudlogin-form-resend button:hover {
  text-decoration: underline;
}
.amc-cloudlogin-form-provider {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
.amc-cloudlogin-form-provider button {
  max-width: 250px;
}
.amc-cloudlogin-form-register {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.amc-cloudlogin-form-error,
.amc-cloudlogin-form-expire {
  padding-left: 6px;
  margin-bottom: 10px;
  transition: all 0.5s;
  min-height: 20px;
}
.amc-cloudlogin-form-error span,
.amc-cloudlogin-form-expire span {
  display: none;
  font-size: 0.9rem;
  color: #f53030;
  text-align: center;
}
.amc-cloudlogin-form-error._wrong,
.amc-cloudlogin-form-expire._wrong {
  margin-top: 10px;
}
.amc-cloudlogin-form-error._wrong span,
.amc-cloudlogin-form-expire._wrong span {
  display: block;
  text-align: left;
}
.amc-cloudlogin-form-expire {
  min-height: 40px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.amc-cloudlogin-form-next {
  margin-block: 2rem;
  text-align: right;
}
.amc-cloudlogin-form-verify,
.amc-cloudlogin-form-finish {
  text-align: right;
  margin-bottom: 50px;
}
.amc-cloudlogin-form ._center {
  justify-content: center;
}
.amc-cloudlogin-footer {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
}
.amc-cloudlogin-footer ::deep svg .amc-svg-fill {
  fill: #4569D4;
}
.login {
  position: relative;
  width: min(400px, 90%);
  min-height: min(500px, 90%);
  background-color: #fff;
  border: 1px solid #dadce0;
  border-radius: 1px;
  /*box-shadow: 0px 3px 4px @--borderColor;*/
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.login .error .login-form-title h1 {
  font-size: 1.5rem;
}
.--disable {
  cursor: none;
  opacity: 0.2;
  pointer-events: none;
}
.--input {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.--input input {
  width: 100%;
  height: 100%;
  color: #202124;
  background-color: transparent;
  font-size: 1rem;
  padding: 10px 5px;
  border: 1px solid #4569D4;
  border-radius: 3px;
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
  transition: color 9999s ease-out, background-color 9999s ease-out;
  transition-delay: 9999s;
}
.--input input:focus {
  outline: none;
}
.--input input:focus ~ label {
  top: -10px;
  left: 10px;
  font-size: 0.8rem;
  color: #4569D4;
}
.--input label {
  position: absolute;
  top: 24%;
  left: 10px;
  font-size: 1rem;
  color: #4569D4;
  background-color: #fff;
  transition: all 0.3s;
  padding-inline: 5px;
  user-select: none;
  cursor: text;
  pointer-events: none;
}
.--input .active ~ label {
  top: -10px;
  left: 10px;
  font-size: 0.8rem;
  color: #4569D4;
}
.--button {
  width: 100%;
  max-width: 100px;
  padding: 10px;
  text-transform: capitalize;
  font-size: 0.8rem;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  /*  &._email, &._google, &._microsoft{
        span {
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: left;
            margin: 0 auto;
            width: 100px;

            ::deep svg {
                width: 20px;
            }
        }
    }*/
}
.--button._loading span {
  display: none;
}
.--button._primary {
  border: 1px solid #4569D4;
  background-color: #4569D4;
  transition: all 0.5s;
}
.--button._primary:hover {
  color: #4569D4;
  background-color: transparent;
}
.--button._email {
  border: 1px solid #6200EE;
  background-color: #6200EE;
  transition: all 0.5s;
}
.--button._email:hover {
  color: #6200EE;
  background-color: transparent;
}
.--button._google {
  border: 1px solid #DB4437;
  background-color: #DB4437;
  transition: all 0.5s;
}
.--button._google:hover {
  color: #DB4437;
  background-color: transparent;
}
.--button._microsoft {
  border: 1px solid #00A4EF;
  background-color: #00A4EF;
  transition: all 0.5s;
}
.--button._microsoft:hover {
  color: #00A4EF;
  background-color: transparent;
}
.--button._error {
  border: 1px solid #f53030;
  background-color: #f53030;
  transition: all 0.5s;
}
.--button._error:hover {
  color: #f53030;
  background-color: transparent;
}
.--button._back {
  width: 25px;
  height: 25px;
  padding: 5px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: stretch;
  background-color: transparent;
  transition: all 0.6s;
}
.--button._back:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
@keyframes move {
  0% {
    width: 100px;
    left: 0;
  }
  25% {
    width: 50px;
    left: 30%;
  }
  50% {
    width: 100px;
    left: 0;
  }
  75% {
    width: 50px;
    left: -30%;
  }
  100% {
    width: 100px;
    left: 0;
  }
}