/*@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');*/
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700&display=swap');
@--borderColor: #dadce0;
@--height: 5px;
/*var(--amc-accentColor): #4569D4;*/
@--textColor: #202124;
@--colorError: #f53030;
@--colorWhatsApp: #25d366;

.disableProvider {
	::deep svg:first-child {
		display: none
	}

	::deep svg:last-child {
		display: block;
	}
}

.amc-cloudlogin {
	--amc-accentColor: #000;
	--microsoftColor: #00A4EF;
	--googleColor: #DB4437;
	--facebookColor: #4267B2;
	--twitterColor: #00acee;
	--whatsappColor: #6200EE;
	font-family: 'Tajawal', sans-serif;
	display: block;
	align-items: center;
	padding-bottom: 20px;
	overflow: auto;
	background-color: #fff;
	overflow-x: hidden;

	a {
		&,
		&:visited,
		&:focus,
		&:hover,
		&:active {
			color: var(--amc-accentColor);

			&:hover {
				text-decoration: underline;
			}
		}
	}

	div:has(> input[type=text]) {
		position: relative;
		width: 100%;
		margin: 0 auto;
		margin-top: 10px;
	}

	input[type="text"] {
		width: 100%;
		height: 100%;
		color: #000;
		background-color: transparent;
		font-size: .9rem;
		padding: 10px;
		border: 1px solid var(--amc-accentColor);
		border-radius: 3px;
		-webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
		-webkit-transition-delay: 9999s;
		transition: color 9999s ease-out, background-color 9999s ease-out;
		transition-delay: 9999s;

		&:focus {
			outline: none;
		}

		~ label {
			position: absolute;
			top: 24%;
			left: 10px;
			font-size: 1rem;
			color: var(--amc-accentColor);
			background-color: #fff;
			transition: all .3s;
			padding-inline: 5px;
			user-select: none;
			cursor: text;
			pointer-events: none;
		}

		&.active,
		&:focus {
			~ label {
				top: -10px;
				left: 10px;
				font-size: .8rem;
				color: var(--amc-accentColor);
			}
		}
	}

	&-header {
		text-align: center;
		min-height: 12rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		transform: translateX(0);
	}

	&-title {
		color: @--textColor;
		font-size: 2rem;
		transition: all .8s;
		padding-bottom: 0;
		position: relative;

		button {
			position: absolute;
			left: 0;
			height: 0;
			transform: translate(-100%, 50%);
			width: 25px;
			height: 25px;
			padding: 5px;
			border: none;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			align-content: stretch;
			background-color: transparent;
			transition: all .6s;
			cursor: pointer;

			&:hover {
				background-color: rgba(0,0,0,.1);
			}
		}
	}

	&-subtitle {
		font-size: .8rem;
		opacity: .7;
	}

	&-errors {
		ul {
			list-style: none;
			font-size: .8rem;
			color: @--colorError;
			padding-left:0;
			
		}
	}

	&-providers {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 10px;
		justify-content: center;
		align-items: center;
		margin-top: 20px;
		margin-bottom: 50px;
	}

	&-provider {
		--currentColor: var(--amc-accentColor);


		&._primary {
			--currentColor: #ffd800;
		}

		&._microsoft {
			--currentColor: var(--microsoftColor);
		}

		&._google {
			--currentColor: var(--googleColor);
		}

		&._facebook {
			--currentColor: var(--facebookColor);
		}

		&._twitter {
			--currentColor: var(--twitterColor);
		}

		&._whatsapp {
			--currentColor: var(--whatsappColor);
		}

		background-color: transparent;
		cursor: pointer;
		width: 100%;
		max-width: 100%;
		display: flex;
		align-items: center;
		gap: 10px;
		transition: all .5s;
		border: 1px solid var(--currentColor);
		border-radius: 3px;
		color: var(--currentColor);
		padding: 5px 8px;

		&-icon {
			height: 32px;
			width: 32px;
		}

		::deep svg {
			width: 32px;
			height: 32px;

			.amc-svg-fill {
				transition: all .5s;
				fill: var(--currentColor);
			}
		}

		&:hover {
			color: #fff;
			background-color: var(--currentColor);

			::deep svg {
				.amc-svg-fill {
					fill: #fff;
				}
			}
		}
	}

	&-body {
		width: 100%;
		max-width: 20rem;
		margin-left: auto;
		margin-right: auto;
		transform: translateX(0);

		.login {
			&-form {
				display: flex;
				flex-direction: column;
				width: 80%;
				margin: 0 auto;
				min-height: 20rem;

				&-resend {
					button {
						border: none;
						background-color: transparent;
						color: var(--activeColor);
						font-size: .8rem;
						transition: all .3s;
						cursor: pointer;

						&:hover {
							text-decoration: underline;
						}
					}
				}

				&-register {
					margin-bottom: 15px;
					display: flex;
					flex-direction: column;
					gap: 10px;
				}

				&-next {
					margin-top: 15px;
					text-align: center;
				} 

				&-verify, &-finish {
					text-align: right;
					margin-bottom: 50px;
				}

				._center {
					justify-content: center;
				}
			}
		}
	}


	&-panel {
		padding: 7px 5px;
		margin: 0 auto;
		margin-bottom: 20px;
		border-top: 1px solid var(--amc-accentColor);
		width: fit-content;
	}

	&-inputdisplay {
		font-weight: 700;
		color: var(--amc-accentColor);
	}

	&-keppsignedin {
		display: flex;
		display: inline-block;
		font-size: 0;
		opacity: .7;
		margin-top: 10px;
		margin-left: 5px;

		label, input {
			cursor: pointer;
			user-select: none;
		}

		label {
			padding-left: 6px;
			font-size: 1rem;
		}

		input {
			appearance: checkbox;
			margin: 0;
		}
	}

	&-loading {
		position: fixed;
		min-height: 10px;
		display: none;

		> div {
			position: relative;
			top: 0px;
			width: 100px;
			height: @--height;
			background-color: var(--amc-accentColor);
			border-radius: 20px;
			margin: 0 auto;
			animation: move 4s cubic-bezier(0.31, 0.33, 1, 1) infinite;

			&:after {
				content: "";
				position: absolute;
				width: 10px;
				height: @--height;
				border-radius: 20px;
				background-color: var(--amc-accentColor);
			}
		}
	}

	&-logo {
		display: block;
		width: 100px;
		margin: 30px auto 5px auto;
	}

	&-footer {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
		padding: 5px;
		font-size: .9rem;

		&-providers {
			display: flex;
			gap: 20px;
		}

		&-separator {
			border-top: 1px solid var(--amc-accentColor);
			max-width: 20rem;
			width: 100%;
			opacity: .6;
		}

		&-links {
			display: flex;
			flex-wrap: wrap;
			column-gap: 10px;
		}

		::deep svg {
			opacity: .5;
			height: 24px;
			width: 24px;

			.amc-svg-fill {
				fill: var(--amc-accentColor);
			}
		}
	}

	&-button {
		width: 100%;
		max-width: 100px;
		padding: 10px;
		text-transform: capitalize;
		font-size: .8rem;
		color: white;
		cursor: pointer;
		border-radius: 3px;
		background-color: transparent;
		color: var(--amc-accentColor);
		border: 1px solid var(--amc-accentColor);
		transition: all .5s;
		position: relative;

		&:hover {
			background-color: var(--amc-accentColor);
			color: #fff;
		}

		::deep svg {
			display: none;
		}
	}

	&._loading {
		.amc-cloudlogin {
			&-loading {
				display: block;
			}

			&-providers {
				button {
					opacity: .3;
					pointer-events: none;
				}
			}

			&-button {
				opacity: .3;
				pointer-events: none;

				span {
					opacity: 0;
				}

				::deep svg {
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					width: 100%;
					height: 100%;
					padding: 5px;

					rect {
						fill: var(--amc-accentColor);
					}
				}
			}
		}
	}

	&._animatestep-out._animatedirection-forward {
		.AnimateElements(animateOutForward 400ms ease-in-out forwards);
	}

	&._animatestep-out._animatedirection-backward {
		.AnimateElements(animateOutBackward 400ms ease-in-out forwards);
	}

	&._animatestep-in._animatedirection-forward {
		.AnimateElements(animateInForward 300ms ease-in-out forwards);
	}

	&._animatestep-in._animatedirection-backward {
		.AnimateElements(animateInBackward 300ms ease-in-out forwards);
	}
}

.--disable {
	cursor: none;
	opacity: .2;
	pointer-events: none;
}

@media only screen and (min-width: 800px) {
	.amc {
		&-cloudlogin {

			&-panel {
				margin: 0;
				width: 100%;
			}
		}
	}
}

@keyframes move {
	0% {
		width: 100px;
		left: 0;
	}

	25% {
		width: 50px;
		left: 30%;
	}

	50% {
		width: 100px;
		left: 0;
	}

	75% {
		width: 50px;
		left: -30%;
	}

	100% {
		width: 100px;
		left: 0;
	}
}

.AnimateElements(@animation) {
	.amc-cloudlogin-body {
		.amc-cloudlogin-panel,
		.amc-cloudlogin-input,
		button {
			animation: @animation;
		}
	}
}

@keyframes animateOutForward {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translateX(-10px);
	}
}

@keyframes animateOutBackward {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translateX(10px);
	}
}

@keyframes animateInForward {
	0% {
		opacity: 0;
		transform: translateX(10px);
	}

	100% {
		opacity: 1;
	}
}

@keyframes animateInBackward {
	0% {
		opacity: 0;
		transform: translateX(-10px);
	}

	100% {
		opacity: 1;
	}
}
