@using AngryMonkey.CloudLogin.DataContract;

<div class="amc-cloudlogin-footer">
    <div class="amc-cloudlogin-footer-providers">
        @foreach (ProviderDefinition provider in Providers)
        {
            <AngryMonkey.CloudLogin.Components.ProviderButton Provider="@provider" />
        }
    </div>

    <div class="amc-cloudlogin-footer-separator">
    </div>

    <div class="amc-cloudlogin-footer-links">

        @foreach (Link link in Links)
        {
            <a target="_blank" href="@link.Url">@link.Title</a>
        }
    </div>
</div>

@code {
    [Parameter] public List<ProviderDefinition> Providers { get; set; }
    [Parameter] public List<Link> Links { get; set; }
}
