@inject ICloudLogin cloudLogin

@namespace AngryMonkey.CloudLogin

@page "/Account"

@if (CurrentUser != null)
{
    <AccountComponent CurrentUser="CurrentUser" />
}
else
{
    <div>Not signed in :)</div>
}

@code {
    private User? CurrentUser { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CurrentUser = await cloudLogin.CurrentUser();
    }
}