@using AngryMonkey.CloudLogin.Interfaces
@using static Microsoft.AspNetCore.Components.Forms.InputCheckbox;
@inject ICloudLogin cloudLogin
@inject NavigationManager navigationManager

@namespace AngryMonkey.CloudLogin

<div class="amc-cloudlogin @CssClass">

    <CloudLoginComponent />

    <AngryMonkey.CloudLogin.Components.Footer />

</div>