@inject CloudLoginConfiguration
<div class="loading">
    <div class="loading-logo">
        <img src="/logo.svg" />
    </div>
    <div class="loading-progress">
        <span></span>
    </div>
</div>