@page "/"
@using System.Security.Claims

<AuthorizeView>
    <Authorized>
        Name: @context.User.FindFirst(ClaimTypes.Name).Value
        <br />
        ID: @context.User.FindFirst(ClaimTypes.NameIdentifier).Value
        <br />
        @if (string.IsNullOrEmpty(context?.User?.FindFirst(ClaimTypes.Email)?.Value))
        {
            Input: @context.User.FindFirst(ClaimTypes.Email);
        }
        else
        {
            Input: @context.User.FindFirst(ClaimTypes.MobilePhone);
        }
        <br />
        <a href="cloudlogin/logout">Logout</a>
    </Authorized>
    <NotAuthorized>
        <AngryMonkey.Cloud.Login.CloudLogin Logo="https://thehealthbarme.com/img/logo.svg" />
    </NotAuthorized>
</AuthorizeView>
