@page "/"
@using System.Security.Claims
 
<AuthorizeView>
    <Authorized>
        Name: @context.User.FindFirst(ClaimTypes.Name).Value
        <br />
        ID: @context.User.FindFirst(ClaimTypes.NameIdentifier).Value
        <br />
        Email: @context.User.FindFirst(ClaimTypes.Email).Value
        <br />
        <a href="cloudlogin/logout">Logout</a>
    </Authorized>
    <NotAuthorized>
        <AngryMonkey.Cloud.Login.CloudLogin Imagelogo="https://thehealthbarme.com/img/logo.svg" />
    </NotAuthorized>
</AuthorizeView>