@page "/"
@inject Microsoft.Extensions.DependencyInjection.CloudLoginService cloudLogin
@inject NavigationManager navigate

<HeadContent>
    <CloudBundle Source="css/index.css" />
</HeadContent>

<AuthorizeView>
    <Authorized>
        <section class="authorized">
            <div>
                @{
                    Console.WriteLine(context.User.FindFirst(ClaimTypes.NameIdentifier).Value);

                    UserId = new Guid(context.User.FindFirst(ClaimTypes.NameIdentifier).Value);
                    string input = context?.User?.FindFirst(ClaimTypes.Email)?.Value;

                    if (string.IsNullOrEmpty(input))
                        input = context.User.FindFirst(ClaimTypes.MobilePhone).Value;
                }

                <h1>Success!</h1>
                <b>Name:</b> @context.User.FindFirst(ClaimTypes.Name).Value
                <br />
                <b>ID:</b> @UserId
                <br />

                <b>Input:</b> @input

                <br />
                <br />
                <a href="cloudlogin/logout">Logout</a>
                <a href="cloudlogin/logout" @onclick="DeleteButton">Delete</a>
            </div>
        </section>
    </Authorized>
    <NotAuthorized>
        <AngryMonkey.Cloud.Login.CloudLogin Logo="https://thehealthbarme.com/img/logo.svg" />
    </NotAuthorized>
</AuthorizeView>

@code {
    Guid UserId = Guid.Empty;

    private async Task DeleteButton() => await cloudLogin.Options.Cosmos.Methods.DeleteUser(UserId);
}