@namespace AngryMonkey.CloudLogin
@using AngryMonkey.CloudLogin.Interfaces
@inject ICloudLogin cloudLogin

<h3>Update User Information</h3>

<div>
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" @bind="CurrentUser.FirstName" />

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" @bind="CurrentUser.LastName" />

    <label for="displayName">Display Name:</label>
    <input type="text" id="displayName" @bind="CurrentUser.DisplayName" />

    <label for="dateOfBirth">Date of Birth:</label>
    <input type="date" id="dateOfBirth" @bind="CurrentUser.DateOfBirth" />

    <button @onclick="UpdateUserInfo">Update Information</button>
</div>

@code {
    [Parameter] public required User CurrentUser { get; set; }

    private async Task UpdateUserInfo()
    {
        await cloudLogin.UpdateUser(CurrentUser);
    }
}
