::deep .admin {

    &-select {
        position: relative;
        border: 1px solid #d1d5db;
        background-color: #fff;
        border-radius: 5px;
        cursor: pointer;
        padding-block: 2px;

        select {
            border: none;
            outline: none;
            font-size: .8rem;
            color: #374151;
            background-color: #fff;
            padding: 5px 5px;
            padding-right: 20px;
            cursor: pointer;
        }

        svg {
            pointer-events: none;
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
            width: 10px;
            fill: #374151;
        }

        &:has(select:focus) {
            border-color: #7c3aed;

            select {
                outline: none;
            }
        }
    }
}
