section article {
  width: 100%;
  min-width: 0;
  overflow: visible;
}
@media (min-width: 768px) {
  section article {
    margin-inline: auto;
  }
}
@media (min-width: 992px) {
  section article {
    max-width: 1440px;
  }
}
