main {
  width: 100vw;
  height: 100vh;
  --accentColor: #4569D4;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
}
main .amc-cloudlogin {
  --amc-accentColor: var(--accentColor) !important;
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 800px;
  border-radius: 3px;
  border: 1px solid var(--accentColor);
  /*box-shadow: 0px 0px 5px #808080;*/
}
main .amc-authorized {
  width: 80%;
  height: 100%;
  padding: 50px;
  background: white;
  box-shadow: 0px 0px 22px 8px rgba(0, 0, 0, 0.13) inset;
  -webkit-box-shadow: 0px 0px 22px 8px rgba(0, 0, 0, 0.13) inset;
  -moz-box-shadow: 0px 0px 22px 8px rgba(0, 0, 0, 0.13) inset;
}
main .amc-authorized-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8vw;
}
main .amc-authorized-title-logo {
  max-width: 30vw;
}
main .amc-authorized-info {
  display: flex;
  flex-direction: column;
  margin: 20px;
  font-size: 1.2vw;
}
main .amc-authorized-info div {
  margin: 5px;
}
main .amc-authorized-info div:last-child {
  margin-top: 10px;
}
main .amc-authorized-info-event {
  font-size: 1.6vw;
  font-weight: 900;
}
main .amc-authorized-all-desc-title {
  font-size: 2vw;
}
main .amc-authorized-all-desc details {
  font-size: 1.5vw;
}
main .amc-authorized-all-desc details summary {
  font-size: 1.7vw;
  font-weight: 900;
}
main .amc-authorized-all ul {
  list-style: "- ";
}
main .--button {
  background: black;
  color: white;
  padding: 5px 15px;
  font-size: 1vw;
}
main .--button:hover {
  color: #000;
  background: #d3d3d3;
}
main .--button:active {
  box-shadow: 0px 0px 0px 2px #000000 inset;
  -webkit-box-shadow: 0px 0px 0px 2px #000000 inset;
  -moz-box-shadow: 0px 0px 0px 2px #000000 inset;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}